<!DOCTYPE html>
<html>
<head>
    <title>Proyecto 2</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/engranajes.png') }}" type="image/png">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Digital Intelligence, S. A.</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/archivo">Archivo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reportes">Reportes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/info">Info</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="center-container">
        <div class="form-container">
            <h1 style="margin-bottom: 60px;">Digital Intelligence, S. A.</h1>
            <h1>Máquina Encambladora</h1>
        </div>
    </div>
    <footer>
        <a href="https://www.flaticon.es/iconos-gratis/engranajes" title="engranajes iconos">Engranajes iconos creados por Freepik - Flaticon</a>
    </footer>
</body>
</html>