<!DOCTYPE html>
<html>
<head>
    <title>Proyecto 2</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/engranajes.png') }}" type="image/png">
    <style>
        table {
            margin-top: 20px;
            background-color: rgba(255, 255, 255, 0.5);
        }
        p {
            margin-top: 20px;
            background-color: rgba(255, 255, 255, 0.5);
            text-align: center;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Digital Intelligence, S. A.</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/archivo">Archivo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tabla">Tabla</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reportes">Reportes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/info">Info</a>
                </li>
            </ul>
        </div>
    </nav>


    <table class="table">
        <thead>
            <tr>
                <th scope="col">Tiempo</th>
                {% if maquina is not none and maquina.produccion is not none %}
                    {% for i in range(maquina.produccion) %}
                        <th scope="col">Linea de ensamblaje {{ i + 1 }}</th>
                    {% endfor %}
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <!-- Aquí agregamos la primera fila -->
            <tr>
                <td>Segundo 1</td>
                {% if maquina is not none and maquina.produccion is not none %}
                    {% for i in range(maquina.produccion) %}
                        <td>Mover brazo - componente 1</td>
                    {% endfor %}
                {% endif %}
            </tr>
            <!-- Aquí agregamos las filas de los segundos siguientes -->
            {% if maquina is not none and maquina.produccion is not none %}
                {% set tiempo_total = [1] %}
                {% set componentes_actuales = [1] * maquina.produccion %}
                {% for instruccion in instrucciones|reverse %}
                    {% for _ in range(abs(componentes_actuales[instruccion.linea - 1] - instruccion.componente)) %}
                        {% set _ = tiempo_total.append(tiempo_total[-1] + 1) %}
                        {% set _ = componentes_actuales.__setitem__(instruccion.linea - 1, componentes_actuales[instruccion.linea - 1] + (1 if componentes_actuales[instruccion.linea - 1] < instruccion.componente else -1)) %}
                        <tr>
                            <td>Segundo {{ tiempo_total[-1] }}</td>
                            {% for i in range(maquina.produccion) %}
                                {% if i + 1 == instruccion.linea %}
                                    <td>Mover brazo - componente {{ componentes_actuales[i] }}</td>
                                {% else %}
                                    <td>No hace nada</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    {% for j in range(maquina.tiempo) %}
                        {% set _ = tiempo_total.append(tiempo_total[-1] + 1) %}
                        <tr>
                            <td>Segundo {{ tiempo_total[-1] }}</td>
                            {% for i in range(maquina.produccion) %}
                                {% if i + 1 == instruccion.linea %}
                                    <td>Ensamblando</td>
                                {% else %}
                                    <td>No hace nada</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

    {% if maquina is not none and maquina.produccion is not none %}
        <p>El producto {{ producto.nombre }} se puede elaborar óptimamente en {{ tiempo_total[-1] }} segundos.</p>
    {% endif %}

</body>
</html>